<!DOCTYPE html>
<html class="align-center" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8"/>
    <title>Add new assignee</title>
</head>
<body>
<h3>ADD NEW ASSIGNEE</h3>
<form action="/assignees/create" th:object="${newAssignee}" method="post">
    <p><input type="hidden" th:field="*{id}"/></p>
    <p><input type="text" th:field="*{name}" placeholder="name"/></p>
    <p><input type="text" th:field="*{email}" placeholder="e-mail"/></p>
    <p><button type="submit" value="Submit" th:text="'Add New Assignee'"></button></p>
</form>
</body>
</html>