<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymleleaf.com">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8"/>
    <title>Assignees</title>
</head>
<body>
<h3>ASSIGNEES</h3>


<table class="assignees">

    <tbody>
    <tr>
        <th bgcolor="#fafad2">ID</th>
        <th bgcolor="#fafad2">NAME</th>
        <th bgcolor="#fafad2">EMAIL</th>
    </tr>
    <tr bgcolor="#fafad2" th:each="assignee : ${assignees}">
        <td bgcolor="#fafad2" th:text="${assignee.getId()}"></td>
        <td bgcolor="#fafad2" th:text="${assignee.getName()}"></td>
        <td bgcolor="#fafad2" th:text="${assignee.getEmail()}"></td>
        <td><form th:action="@{'/assignees/{id}/delete'(id=${assignee.id})}" th:method="delete" >
            <button type="submit"> Delete </button>
        </form>
        </td>
        <td>
            <form th:action="@{'/assignees/{id}/edit'(id=${assignee.id})}">
                <button type="submit"> Edit </button>
            </form>
        </td>
    </tr>
    <thead>
    <tr>
        <form action="assignees/addnewassignee">
            <input type="submit" value="Add Assignee" />
        </form>
    </tr>
    </thead>
    </tbody>
</table>
</body>
</html>