<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8"/>
    <title>Todos Created At </title>
</head>
<body>
<h3>Search Todo List</h3>
<table>
    <thead>
    <tr align="left">
        <th ></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${byTitle}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.getIsDone()} ? 'done' : 'active'"></td>
        <td th:text="${todo.getIsUrgent()} ? 'urgent' : 'not urgent'"></td>
        <td>
            <form th:action="@{'/todo/{id}/delete'(id=${todo.id})}" th:method="delete" >
                <button type="submit"> Delete </button>
            </form>
        </td>
        <td>
            <form th:action="@{'/todo/list/{id}/edit'(id=${todo.id})}">
                <button type="submit"> Edit </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>