<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <h2>Update your Todo Task</h2>
    <form th:action="@{/todo/update}" th:object="${todo}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input rows="5" type="text" th:field="*{title}"/>
        <input type="checkbox" th:field="*{done}" th:text="'Done'" />
        <input type="checkbox" th:field="*{urgent}" th:text="'Urgent'" />
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>
</html>
