<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Todo App</title>
    <tr>
        <h1>TODOS FOR TODAY:</h1>
    </tr>
</head>
<body>
<span><a href="/todo/new">Add new Todo</a></span>
<p></p>
<table >
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr data-th-each="todo : ${todos}">
        <td data-th-text="${todo.id}"   />
        <td data-th-text="${todo.title}"   />
        <td data-th-text="${todo.isDone}"   />
        <td data-th-text="${todo.isUrgent}"   />

        <td>
            <a th:href="@{'/todo/{id}/delete'(id=${todo.id})}" class="delete" th:attr="name=${todo}">
                <span class="fa-stack">
                    <i class="glyphicon glyphicon-trash"></i>
                </span>
                <button type="reset" id="submit" class="btn btn primary">delete</button>
            </a>
        </td>
        <td>
            <a th:href="@{'/todo/{id}/edit'(id=${todo.id})}" class="update" th:attr="name=${todo}">
                <span class="fa-stack">
                    <i class="glyphicon glyphicon-trash"></i>
                </span>
                <button type="submit" id="edit" class="btn btn primary">edit</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>