<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <h1> List of Bank Account </h1>
    <table >
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Balance</th>
            <th>species group</th>
            <th>Role</th>
        </tr>
        <tr th:each="account, itrStat: ${accountList}" th:style="${account.isKing()}? 'color:red'"  >
            <td align="center" th:text="${itrStat.index + 1}"/>
            <td align="center" th:text="${account.name}"   />
            <td align="center" th:text="${#numbers.formatDecimal(account.balance, 0, 'DEFAULT', 2, 'DEFAULT')}"/>
            <td align="center" th:text="${account.animalType}" />
            <td align="center" th:text="${account.getType()}" />
        </tr>
    </table>
    <h1>Form</h1>
    <form action="#" th:action="@{/multiple}" th:object="${accountList}" method="post">
        
    </form>
</body>
</html>