body {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: #f66341;
}
h2 {
    color: purple;
}
ol {
    color: #f442d7;
    text-decoration: underline;
}
ol li:nth-child(4) {
    color: black;   
    text-decoration: underline;
}
