p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
}
p:nth-child(1){
    font-size: 36px;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -0.025em;
}
p:nth-child(3) {
    text-indent: 2em;
}