* {
    margin: 0;
}
header {
    height: 630px;
    width: 385px;
    background:#4285F4;
    margin: 5px;
    border: 2px solid  white;
    
}
div:nth-child(1) {
    height: 25%;
    width: 348px;
    background:#E67676;  
    margin: 15px 5px 0px 15px;  
}
div:nth-child(2) {
    height: 25%;
    width: 348px;
    background:#F2F062;
    margin: 0px 15px 0px 15px;      
}
div:nth-child(3) {
    height: 25%;
    width: 348px;
    background:#A9E6E6;   
    margin: 0px 15px 0px 15px; 
}

div:nth-child(4) {
    height: 128px;
    width: 348px;
    background:#7692E4; 
    margin: 0px 15px 0px 15px; 
}
p {
    font-size: 36px;
    color: #FFFFFF;
    font-family: sans-serif; 
}



    
