* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
div {
    height: 545px;
    width: 380px;
    background-color: blue;
    border: 15px solid blue;
}
div > div {
    height: 128.75px;
    width: 350px;
    border: 0px;   
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    line-height: 128.75px;
}
div > div:nth-child(1) {
    background-color: #e67676;
}
div > div:nth-child(2) {
    background-color: #f2f062;
}
div > div:nth-child(3) {
    background-color: #a9e6e6;
}
div > div:nth-child(4) {
    background-color: #7692e4;
}

